<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    {{> navbar}}
    <div class="container-fluid">
       <h2>Contact</h2>
       <img src="/images/img.jpg" alt="">
       <h3>Name:Vijaya bharathi</h3>
       <h3>Email:bharathimarimuthu.2000@gmamil.com</h3>
    </div>
</body>
</html>